<!DOCTYPE html>
<html>
<head>
    <title>My Genius Square Site</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>

    
    <h1> Genius Square AI Solver</h1>
    <div id="grid-holder"> 
        <div id="grid-container" class="grid-container"></div>
        <div id="ai-grid-container" class="grid-container"></div>
    </div>
    
    <div id="button-container">
        <button id="blocker-remover" onclick="resetGrid()" class="pageButton"> Reset Grid </button>
        <button id="solve-button" onclick="solveAIGrid()" class="pageButton">Solve AI Grid</button>
    </div>

    <script src="../static/js/game_grids.js"></script>
</body>
</html>


